.container {
  background: #fff;
  min-height: 100vh;
  padding: 30px;
  margin-top: 20px;
  word-wrap: break-word;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  .imgWrapper {
    margin-right: 20px;
    width: 40%;
    min-width: 20%;
    align-self: flex-start;
  }
  img {
    width: 100%;
  }
  h2 {
    margin-top: 10px;
    font-size: 20px;
    color: rgba(26, 18, 244, 0.824);
  }
  span {
    color: black;
  }
}

.textInfo {
  font-size: 23px;
  margin-top: 15px;
  color: #8f95a3;
}

button.back {
  display: block;
  width: 70%;
  margin: 30px auto 0;
  font-size: 30px;
}

.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  > div {
    background-color: #fff;
    text-align: center;
    color: red;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .container {
    margin: 15px;
    width: fit-content;
  }
}
@media (max-width: 992px) {
  .wrapper {
    .imgWrapper {
      min-width: 30%;
    }
  }
}
@media (max-width: 768px) {
  button.back {
    width: fit-content;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 8px;
    padding-top: 15px;
  }
  button.back {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .wrapper {
    flex-direction: column;
    gap: 0;
    h1 {
      font-size: 25px;
    }
    .imgWrapper {
      margin: 0 auto;
      min-width: 50%;
      max-width: 70%;
    }
    .textInfo {
      font-size: 18px;
      margin-top: 12px;
    }
  }
}
