.poster {
  background-size: contain !important;
}

.notFound {
  margin-top: 35px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.error {
  color: rgba(255, 0, 0, 0.7);
}

.bookmark {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 576px) {
  .notFound {
    font-size: 20px;
  }
}
