.seachIcon {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.search {
  input {
    padding-right: 20px;
  }
}

.wrapper {
  position: relative;
}

.bookmarked {
  margin-left: 25px !important;
}
